### Install all necessary requirements

In [3]:
!pip install tools

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tools in /home/nikolay/.local/lib/python3.10/site-packages (0.1.9)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from tools) (1.16.0)
Requirement already satisfied: lxml in /home/nikolay/.local/lib/python3.10/site-packages (from tools) (5.3.0)
Requirement already satisfied: pytils in /home/nikolay/.local/lib/python3.10/site-packages (from tools) (0.4.1)

### Import all necessary libraries

In [1]:
import pandas as pd
import numpy as np
from data_preparation import DataPreparation

##### For this task, i decided to combine 2 separate dataset which i provide below

URLS:
- https://www.kaggle.com/datasets/geraygench/mountain-ner-dataset
- https://huggingface.co/datasets/telord/mountains-ner-dataset/viewer

This first dataset i take from Kaggle, and below i gave an example of the raw data format in which the data is presented

In [62]:
df = pd.read_csv('/home/nikolay/test_task_quantum/NER_with_Bert/data/mountain_dataset_with_markup.csv')
df.head(20)

                                                 text      marker
0   A visit to a science museum for hands-on learn...          []
1   Voice surface coach set democratic time year. ...          []
2   Parent according maybe activity activity finis...          []
3   A visit to a sculpture garden with intriguing ...          []
4   The Julian Alps in Slovenia offer pristine lak...  [(11, 15)]
5   The referee blows the whistle, signaling the e...          []
6   Again eat owner drop. Stay recognize none size...          []
7   Important nearly themselves particular sort cl...          []
8   Wonder behind everybody dream. Owner much anal...          []
9   Phone station white leave image.\nSeem Mrs bed...          []
10  Ten be ten cover use meeting. Season indeed se...          []
11  Manage trade stand site fund administration. C...          []
12  Care energy fast almost player source. When vo...          []
13  The Dolomites in Italy are famous for their un...   [(4, 13)]
14  Civil film yet turn top. Event structure conce...          []
15  A visit to an astronomy observatory for starga...          []
16  Small share Congress study standard issue set....          []
17  Career forget too wrong similar address. Quick...          []
18  Fear hour but president. Plan professional sho...          []
19  Sampling local coffee shops and their unique b...          []

After running data_preparation.py file on dataset above, I receive DataFrame with 3 columns (sentence, tokens and labels). I convert targets to uniform for my model IOB format:
 - O - out of class 
 - B_mount - first part of mountain name
 - I_mount - subsequent parts of the name

In [6]:
pd.set_option('display.max_rows', None)
df_first_IOB = pd.read_csv('/home/nikolay/test_task_quantum/NER_with_Bert/data/mountains_ner_dataset_IOB_from_first_source.csv')
print(f'length of df_first_IOB: {len(df_first_IOB)}')
df_first_IOB.head(20)

length of df_first_IOB: 1584

,sentence,tokens,labels
0,A visit to a science museum for hands-on learn...,"['A', 'visit', 'to', 'a', 'science', 'museum',...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
1,Voice surface coach set democratic time year. ...,"['Voice', 'surface', 'coach', 'set', 'democrat...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
2,Parent according maybe activity activity finis...,"['Parent', 'according', 'maybe', 'activity', '...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
3,A visit to a sculpture garden with intriguing ...,"['A', 'visit', 'to', 'a', 'sculpture', 'garden...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
4,The Julian Alps in Slovenia offer pristine lak...,"['The', 'Julian', 'Alps', 'in', 'Slovenia', 'o...","['O', 'O', 'B_mount', 'O', 'O', 'O', 'O', 'O',..."
5,"The referee blows the whistle, signaling the e...","['The', 'referee', 'blows', 'the', 'whistle', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
6,Again eat owner drop. Stay recognize none size...,"['Again', 'eat', 'owner', 'drop', '.', 'Stay',...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
7,Important nearly themselves particular sort cl...,"['Important', 'nearly', 'themselves', 'particu...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
8,Wonder behind everybody dream. Owner much anal...,"['Wonder', 'behind', 'everybody', 'dream', '.'...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
9,Phone station white leave image.\nSeem Mrs bed...,"['Phone', 'station', 'white', 'leave', 'image'...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
10,Ten be ten cover use meeting. Season indeed se...,"['Ten', 'be', 'ten', 'cover', 'use', 'meeting'...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
11,Manage trade stand site fund administration. C...,"['Manage', 'trade', 'stand', 'site', 'fund', '...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
12,Care energy fast almost player source. When vo...,"['Care', 'energy', 'fast', 'almost', 'player',...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
13,The Dolomites in Italy are famous for their un...,"['The', 'Dolomites', 'in', 'Italy', 'are', 'fa...","['O', 'B_mount', 'O', 'O', 'O', 'O', 'O', 'O',..."
14,Civil film yet turn top. Event structure conce...,"['Civil', 'film', 'yet', 'turn', 'top', '.', '...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
15,A visit to an astronomy observatory for starga...,"['A', 'visit', 'to', 'an', 'astronomy', 'obser...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']"
16,Small share Congress study standard issue set....,"['Small', 'share', 'Congress', 'study', 'stand...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
17,Career forget too wrong similar address. Quick...,"['Career', 'forget', 'too', 'wrong', 'similar'...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
18,Fear hour but president. Plan professional sho...,"['Fear', 'hour', 'but', 'president', '.', 'Pla...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
19,Sampling local coffee shops and their unique b...,"['Sampling', 'local', 'coffee', 'shops', 'and'...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']"

This is second dataset which already labeled in IOB format, I make small changes to adapt to uniform labeling format

In [4]:
df_2_source = pd.read_csv('data/mountains_ner_dataset.csv')
df_2_source.head(20)

,sentence,tokens,labels
0,Virender Sehwag and Harbhajan Singh were not n...,"['Virender', 'Sehwag', 'and', 'Harbhajan', 'Si...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,Mount Nangtud is the second highest mountain i...,"['Mount', 'Nangtud', 'is', 'the', 'second', 'h...","[1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,The European Team Championship bridge champion...,"['The', 'European', 'Team', 'Championship', 'b...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
3,The Bulgarian army under the command of Nestor...,"['The', 'Bulgarian', 'army', 'under', 'the', '...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,"Through Mountain Madness , Fischer guided the ...","['Through', 'Mountain', 'Madness', ',', 'Fisch...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."
5,Other peaks of the range include Mount Roots .,"['Other', 'peaks', 'of', 'the', 'range', 'incl...","[0, 0, 0, 0, 0, 0, 1, 2, 0]"
6,The nuthatches are a genus ( `` sitta '' ) of ...,"['The', 'nuthatches', 'are', 'a', 'genus', '('...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
7,"Under ideal conditions , it can extend to over...","['Under', 'ideal', 'conditions', ',', 'it', 'c...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
8,The well-trained 7th Indian Infantry Division ...,"['The', 'well-trained', '7th', 'Indian', 'Infa...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0]"
9,It is spoken by a minority of the Danagla in t...,"['It', 'is', 'spoken', 'by', 'a', 'minority', ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 0, ..."
10,"Jotunheimen is a residual mountain , which is ...","['Jotunheimen', 'is', 'a', 'residual', 'mounta...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
11,"Later in his criminal career , he began making...","['Later', 'in', 'his', 'criminal', 'career', '...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
12,British air patrols on the morning of 3 Septem...,"['British', 'air', 'patrols', 'on', 'the', 'mo...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
13,They allowed their cousins to take the entire ...,"['They', 'allowed', 'their', 'cousins', 'to', ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
14,Tonight Homemade ice cream flights try 3 of ch...,"['Tonight', 'Homemade', 'ice', 'cream', 'fligh...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
15,It is located at Anderson Mesa in Coconino Cou...,"['It', 'is', 'located', 'at', 'Anderson', 'Mes...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
16,It is situated in the southeast foothills of F...,"['It', 'is', 'situated', 'in', 'the', 'southea...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 1, 2, 0, 0, ..."
17,Long Road crosses over the West Kill 0.6 mile ...,"['Long', 'Road', 'crosses', 'over', 'the', 'We...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
18,The highest peak is Mount Tabwemasana on Espir...,"['The', 'highest', 'peak', 'is', 'Mount', 'Tab...","[0, 0, 0, 0, 1, 2, 0, 1, 2, 0, 0, 0, 0, 0]"
19,The family arrived to the Pristina Airport fro...,"['The', 'family', 'arrived', 'to', 'the', 'Pri...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

And after running script data_preparation script on dataset above, receive data in format demonstrated below

In [7]:
df_2_source_IOB = pd.read_csv('data/mountains_ner_dataset_IOB.csv')
print(f'length of df_2_source_IOB: {len(df_2_source_IOB)}')
df_2_source_IOB.head(20)

length of df_2_source_IOB: 3827

,sentence,tokens,labels
0,Virender Sehwag and Harbhajan Singh were not n...,"['Virender', 'Sehwag', 'and', 'Harbhajan', 'Si...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
1,Mount Nangtud is the second highest mountain i...,"['Mount', 'Nangtud', 'is', 'the', 'second', 'h...","['B_mount', 'I_mount', 'O', 'O', 'O', 'O', 'O'..."
2,The European Team Championship bridge champion...,"['The', 'European', 'Team', 'Championship', 'b...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
3,The Bulgarian army under the command of Nestor...,"['The', 'Bulgarian', 'army', 'under', 'the', '...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
4,"Through Mountain Madness , Fischer guided the ...","['Through', 'Mountain', 'Madness', ',', 'Fisch...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
5,Other peaks of the range include Mount Roots .,"['Other', 'peaks', 'of', 'the', 'range', 'incl...","['O', 'O', 'O', 'O', 'O', 'O', 'B_mount', 'I_m..."
6,The nuthatches are a genus ( `` sitta '' ) of ...,"['The', 'nuthatches', 'are', 'a', 'genus', '('...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
7,"Under ideal conditions , it can extend to over...","['Under', 'ideal', 'conditions', ',', 'it', 'c...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
8,The well-trained 7th Indian Infantry Division ...,"['The', 'well-trained', '7th', 'Indian', 'Infa...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
9,It is spoken by a minority of the Danagla in t...,"['It', 'is', 'spoken', 'by', 'a', 'minority', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
10,"Jotunheimen is a residual mountain , which is ...","['Jotunheimen', 'is', 'a', 'residual', 'mounta...","['B_mount', 'O', 'O', 'O', 'O', 'O', 'O', 'O',..."
11,"Later in his criminal career , he began making...","['Later', 'in', 'his', 'criminal', 'career', '...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
12,British air patrols on the morning of 3 Septem...,"['British', 'air', 'patrols', 'on', 'the', 'mo...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
13,They allowed their cousins to take the entire ...,"['They', 'allowed', 'their', 'cousins', 'to', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
14,Tonight Homemade ice cream flights try 3 of ch...,"['Tonight', 'Homemade', 'ice', 'cream', 'fligh...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
15,It is located at Anderson Mesa in Coconino Cou...,"['It', 'is', 'located', 'at', 'Anderson', 'Mes...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
16,It is situated in the southeast foothills of F...,"['It', 'is', 'situated', 'in', 'the', 'southea...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B_mo..."
17,Long Road crosses over the West Kill 0.6 mile ...,"['Long', 'Road', 'crosses', 'over', 'the', 'We...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
18,The highest peak is Mount Tabwemasana on Espir...,"['The', 'highest', 'peak', 'is', 'Mount', 'Tab...","['O', 'O', 'O', 'O', 'B_mount', 'I_mount', 'O'..."
19,The family arrived to the Pristina Airport fro...,"['The', 'family', 'arrived', 'to', 'the', 'Pri...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."

This is my final formatted dataset:

In [9]:
df_general_IOB = pd.read_csv('/home/nikolay/test_task_quantum/NER_with_Bert/data/general_mountains_ner_dataset_IOB.csv')
print(f'length of df_general_IOB: {len(df_general_IOB)}')
df_general_IOB.head(20)

length of df_general_IOB: 5411

,sentence,tokens,labels
0,Virender Sehwag and Harbhajan Singh were not n...,"['Virender', 'Sehwag', 'and', 'Harbhajan', 'Si...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
1,Mount Nangtud is the second highest mountain i...,"['Mount', 'Nangtud', 'is', 'the', 'second', 'h...","['B_mount', 'I_mount', 'O', 'O', 'O', 'O', 'O'..."
2,The European Team Championship bridge champion...,"['The', 'European', 'Team', 'Championship', 'b...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
3,The Bulgarian army under the command of Nestor...,"['The', 'Bulgarian', 'army', 'under', 'the', '...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
4,"Through Mountain Madness , Fischer guided the ...","['Through', 'Mountain', 'Madness', ',', 'Fisch...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
5,Other peaks of the range include Mount Roots .,"['Other', 'peaks', 'of', 'the', 'range', 'incl...","['O', 'O', 'O', 'O', 'O', 'O', 'B_mount', 'I_m..."
6,The nuthatches are a genus ( `` sitta '' ) of ...,"['The', 'nuthatches', 'are', 'a', 'genus', '('...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
7,"Under ideal conditions , it can extend to over...","['Under', 'ideal', 'conditions', ',', 'it', 'c...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
8,The well-trained 7th Indian Infantry Division ...,"['The', 'well-trained', '7th', 'Indian', 'Infa...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
9,It is spoken by a minority of the Danagla in t...,"['It', 'is', 'spoken', 'by', 'a', 'minority', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
10,"Jotunheimen is a residual mountain , which is ...","['Jotunheimen', 'is', 'a', 'residual', 'mounta...","['B_mount', 'O', 'O', 'O', 'O', 'O', 'O', 'O',..."
11,"Later in his criminal career , he began making...","['Later', 'in', 'his', 'criminal', 'career', '...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
12,British air patrols on the morning of 3 Septem...,"['British', 'air', 'patrols', 'on', 'the', 'mo...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
13,They allowed their cousins to take the entire ...,"['They', 'allowed', 'their', 'cousins', 'to', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
14,Tonight Homemade ice cream flights try 3 of ch...,"['Tonight', 'Homemade', 'ice', 'cream', 'fligh...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
15,It is located at Anderson Mesa in Coconino Cou...,"['It', 'is', 'located', 'at', 'Anderson', 'Mes...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
16,It is situated in the southeast foothills of F...,"['It', 'is', 'situated', 'in', 'the', 'southea...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B_mo..."
17,Long Road crosses over the West Kill 0.6 mile ...,"['Long', 'Road', 'crosses', 'over', 'the', 'We...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
18,The highest peak is Mount Tabwemasana on Espir...,"['The', 'highest', 'peak', 'is', 'Mount', 'Tab...","['O', 'O', 'O', 'O', 'B_mount', 'I_mount', 'O'..."
19,The family arrived to the Pristina Airport fro...,"['The', 'family', 'arrived', 'to', 'the', 'Pri...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."

In [10]:
import ast

df_general_IOB['labels'] = df_general_IOB['labels'].apply(ast.literal_eval)

print("Example of data after transformation:")
print(df_general_IOB['labels'].head())

exploded_labels = df_general_IOB['labels'].explode()
label_counts = exploded_labels.value_counts()

print("\nDistribution of targets:")
print(label_counts)

Example of data after transformation:
0    [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...
1    [B_mount, I_mount, O, O, O, O, O, O, O, O, O, ...
2                 [O, O, O, O, O, O, O, O, O, O, O, O]
3    [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...
4    [O, O, O, O, O, O, O, O, O, O, O, B_mount, O, ...
Name: labels, dtype: object

Distribution of targets:
labels
O          121114
B_mount      3222
I_mount      2739
Name: count, dtype: int64